<template>
  <div class="columns is-centered">
    <div class="column is-half">
      <h3 class="title is-3">{{ title }}</h3>
      <form
        method="post"
        action="/login"
        @submit.prevent="onLoginSubmit"
        @keydown="errors.clear($event.target.name)">
      <div class="field">
        <p class="control">
          <input
            class="input"
            type="email"
            placeholder="Email"
            name="email"
            v-model="userinfo.email">
        </p>
        <p class="help is-danger" v-if="errors.has('email')" v-text="errors.get('email')"></p>
      </div>
      <div class="field">
        <p class="control">
          <input
            class="input"
            type="password"
            placeholder="Password"
            name="password"
            v-model="userinfo.password">
        </p>
        <p
          class="help is-danger"
          v-if="errors.has('password')"
          v-text="errors.get('password')"></p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" :disabled="errors.any()">
            Login
          </button>
        </p>
      </div>
      </form>
    </div>
  </div>

</template>

<script>
import axios from 'axios';
import Errors from '@/classes/Errors';

export default {
  name: 'LoginForm',
  data() {
    return {
      userinfo: {
        email: '',
        password: '',
      },
      errors: new Errors(),
    };
  },
  methods: {
    onLoginSubmit() {
      axios.post('http://localhost:3000/login', this.userinfo)
        .then((response) => {
          if (response.data.statusCode === 250) {
            this.errors.record(response.data.errors);
          }
        });
    },
    onLoginSucess() {

    },
  },
  props: {
    title: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
