<template>
  <div class="columns is-centered">
    <div class="column is-half">
      <h3 class="title is-3">{{ title }}</h3>
      <form
        method="post"
        action="/register"
        @submit.prevent="onRegisterSubmit"
        @keydown="errors.clear($event.target.name)">
      <div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Firstname" name="firstname" v-model="userinfo.firstname">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
        <p class="help is-danger" v-if="errors.has('firstname')" v-text="errors.get('firstname')"></p>
      </div>
      <div class="field">
        <p class="control has-icons-right">
          <input class="input" type="text" placeholder="Lastname" name="lastname" v-model="userinfo.lastname">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
        <p class="help is-danger" v-if="errors.has('lastname')" v-text="errors.get('lastname')"></p>
      </div>
      <div class="field">
        <p class="control has-icons-right">
          <input class="input" type="email" placeholder="Email" name="email" v-model="userinfo.email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
        <p class="help is-danger" v-if="errors.has('email')" v-text="errors.get('email')"></p>
      </div>
      <div class="field">
        <p class="control">
          <input
            class="input"
            type="password"
            placeholder="Password"
            name="password"
            v-model="userinfo.password">
        </p>
        <p class="help is-danger" v-if="errors.has('password')" v-text="errors.get('password')"></p>
      </div>
      <div class="field">
        <p class="control">
          <input
            class="input"
            type="password"
            placeholder="Confirm Password"
            name="cpassword"
            v-model="userinfo.cpassword">
        </p>
        <p
          class="help is-danger"
          v-if="errors.has('cpassword')"
          v-text="errors.get('cpassword')"></p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-success" :disabled="errors.any()">
            Register
          </button>
        </p>
      </div>
      </form>
    </div>
  </div>

</template>

<script>
import axios from 'axios';
import Errors from '@/classes/Errors';

export default {
  name: 'RegisterForm',
  data() {
    return {
      userinfo: {
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        cpassword: '',
      },
      errors: new Errors(),
    };
  },
  methods: {
    onRegisterSubmit() {
      axios.post('http://localhost:3000/register', this.userinfo)
        .then((response) => {
          if (response.data.statusCode === 250) {
            this.errors.record(response.data.errors);
          }
        });
    },
    onRegisterSuccess() {

    },
  },
  props: {
    title: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


</style>
