<template>
  <div id="app">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <router-link class="navbar-item" to="/home">Laboratoria</router-link>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <router-link class="button is-primary" to="/register">Register</router-link>
                <router-link class="button is-light" to="/">Log in</router-link>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <router-view/>

    </div>
  </div>
</template>

<style lang="scss">

  .button.is-primary
  {
    background-color: $primary !important;
  }


</style>
