<template>
  <div class="home">

    <LoginForm title="Log in"/>

  </div>
</template>

<script>
// @ is an alias to /src
import LoginForm from '@/components/LoginForm.vue';

export default {
  name: 'home',
  components: {
    LoginForm,
  },
};
</script>
