<template>

  <div class="home">

    <RegisterForm title="Register"/>

  </div>

</template>

<script>
// @ is an alias to /src
import RegisterForm from '@/components/RegisterForm.vue';

export default {
  name: 'register',
  components: {
    RegisterForm,
  },
};
</script>
